.basel-promo-popup {
    max-width: 900px
}

.site-logo {
    width: 20%
}

.site-logo img {
    max-width: 196px;
    max-height: 95px
}

.widgetarea-head,
.main-nav {
    width: 40%
}

.right-column {
    width: 40%
}

.basel-woocommerce-layered-nav .basel-scroll {
    max-height: 181px
}

.header-banner {
    height: 40px
}

.header-banner-display .website-wrapper {
    margin-top: 40px
}

.topbar-menu ul>li {
    line-height: 42px
}

.topbar-wrapp,
.topbar-content:before {
    height: 42px
}

.sticky-header-prepared.basel-top-bar-on .header-shop,
.sticky-header-prepared.basel-top-bar-on .header-split,
.enable-sticky-header.basel-header-overlap.basel-top-bar-on .main-header {
    top: 42px
}

.site-logo img {
    max-height: 95px
}

.act-scroll .site-logo img,
.header-clone .site-logo img {
    max-height: 60px
}

.header-clone .main-nav .menu>li>a {
    height: 60px;
    line-height: 60px
}

.sticky-header-real:not(.global-header-menu-top) .switch-logo-enable .basel-logo {
    height: 95px
}

.sticky-header-real:not(.global-header-menu-top) .act-scroll .switch-logo-enable .basel-logo {
    height: 60px
}

.sticky-header-real:not(.global-header-menu-top) .act-scroll .switch-logo-enable {
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px)
}

.main-nav .menu>li>a {
    height: 95px;
    line-height: 95px
}

.act-scroll .main-nav .menu>li>a {
    height: 60px;
    line-height: 60px
}

.header-shop .right-column .header-links {
    height: 95px;
    line-height: 95px
}

.header-shop.act-scroll .right-column .header-links {
    height: 60px;
    line-height: 60px
}

.basel-header-overlap .title-size-default,
.basel-header-overlap .title-size-small,
.basel-header-overlap .title-shop.without-title.title-size-default,
.basel-header-overlap .title-shop.without-title.title-size-small {
    padding-top: 135px
}

.basel-header-overlap .title-shop.without-title.title-size-large,
.basel-header-overlap .title-size-large {
    padding-top: 215px
}

@media (max-width:991px) {
    .header-banner {
        height: 40px
    }
    .header-banner-display .website-wrapper {
        margin-top: 40px
    }
    .topbar-menu ul>li {
        line-height: 38px
    }
    .topbar-wrapp,
    .topbar-content:before {
        height: 38px
    }
    .sticky-header-prepared.basel-top-bar-on .header-shop,
    .sticky-header-prepared.basel-top-bar-on .header-split,
    .enable-sticky-header.basel-header-overlap.basel-top-bar-on .main-header {
        top: 38px
    }
    .main-header .wrapp-header {
        min-height: 60px
    }
    .site-logo img {
        max-height: 60px
    }
    .act-scroll .site-logo img,
    .header-clone .site-logo img {
        max-height: 60px
    }
    .main-header .switch-logo-enable .basel-logo {
        height: 60px
    }
    .sticky-header-real:not(.global-header-menu-top) .act-scroll .switch-logo-enable .basel-logo {
        height: 60px
    }
    .sticky-header-real:not(.global-header-menu-top) .act-scroll .switch-logo-enable {
        transform: translateY(-60px);
        -webkit-transform: translateY(-60px)
    }
    .basel-header-overlap .title-size-default,
    .basel-header-overlap .title-size-small,
    .basel-header-overlap .title-shop.without-title.title-size-default,
    .basel-header-overlap .title-shop.without-title.title-size-small {
        padding-top: 80px
    }
    .basel-header-overlap .title-shop.without-title.title-size-large,
    .basel-header-overlap .title-size-large {
        padding-top: 120px
    }
}

.product-category-thumbnail img,
.category-grid-item .category-link {
    width: 100%
}

.product-grid-item .product-element-top>a img,
.basel-hover-alt .hover-img img,
.product-list-image .hover-img img {
    width: 100%
}

#product-28083 .product-images .image-action-zoom figure img[src$=".png"],
#product-28083 .product-images .image-action-zoom .owl-item,
#product-28084 .product-images .image-action-zoom figure img[src$=".png"],
#product-28084 .product-images .image-action-zoom .owl-item,
#product-28085 .product-images .image-action-zoom figure img[src$=".png"],
#product-28085 .product-images .image-action-zoom .owl-item,
#product-28078 .product-images .image-action-zoom figure img[src$=".png"],
#product-28078 .product-images .image-action-zoom .owl-item {
    background: white
}

.basel-product-categories>li.cat-item-109 {
    display: none
}

.main-header form.has-categories-dropdown .search-by-category ul .children {
    display: none
}

.col-five>.vc_col-sm-2 {
    width: 20%
}

iframe[name='google_conversion_frame'] {
    height: 0!important;
    width: 0!important;
    line-height: 0!important;
    font-size: 0!important;
    margin-top: -13px;
    float: left
}

.dropdown-scroll>.sub-menu-dropdown {
    height: 540px;
    overflow: hidden
}

.header-spacing + .header-menu-top {
    margin-top: -40px
}

.woocommerce-ordering.with-list .selected-order {
    font-weight: 700
}

.header-categories .main-nav .menu li.menu-item-design-full-width>.sub-menu-dropdown {
    margin-top: -78px
}

.hide-pag .owl-pagination,
.hide-pag .owl-buttons {
    display: none
}

.color-scheme-light .testimonial .testimonial-content footer>span {
    color: rgba(255, 255, 255, .8)
}

.color-scheme-light .owl-theme:hover .owl-controls.clickable .owl-buttons div.disabled {
    color: rgba(255, 255, 255, .6)
}

.color-scheme-light .owl-theme .owl-controls .owl-buttons div {
    color: rgba(255, 255, 255, .8)
}

.color-scheme-light .owl-theme .owl-controls.clickable .owl-buttons div:hover {
    color: rgba(255, 255, 255, 1)
}

.color-scheme-light .owl-theme .owl-controls .owl-page span {
    background-color: rgba(255, 255, 255, .6)
}

.color-scheme-light .owl-theme .owl-controls .owl-page.active span,
.color-scheme-light .owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: white
}

.basel-buttons .product-compare-button>a,
.single-product-content .entry-summary .button.compare,
.basel-hover-base .basel-add-btn>a,
.basel-hover-base .product-compare-button a {
    text-transform: none
}

.rtl .has-border,
.rtl .has-border>.vc_column-inner {
    border: none!important
}

.related-and-upsells .product-grid-item .hover-img img {
    width: 100%
}

.hidden-nav-button {
    display: none!important
}

.dropdown-scroll .wpb_single_image {
    border: 2px solid #f7f7f7
}

.page-id-25728 .dropdown-scroll .wpb_single_image,
.page-id-23954 .dropdown-scroll .wpb_single_image {
    border: 2px solid rgba(255, 255, 255, .1)
}

.widget_product_categories .cat-item-109 .cat-item:nth-child(even) {
    display: none
}

@media (max-width:1024px) and (min-width:991px) {
    .header-categories .categories-menu-dropdown .sub-menu-dropdown {
        width: 680px
    }
}

@media (max-width:991px) {
    .sticky-footer-on .footer-container {
        visibility: visible
    }
}

.menu-item-19907>.sub-menu-dropdown {
    background-size: contain
}

.woocommerce-checkout-review-order-table td {
    width: 50%
}

.basel-dark .cart-widget-side .widget_shopping_cart .buttons a:not(.checkout) {
    border-color: #333;
    background-color: #333
}

.basel-dark .cart-widget-side .widget_shopping_cart .buttons a:not(.checkout):hover {
    opacity: .7
}

.blazy-image-loading {
    position: relative
}

.blazy-image-loading:after {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
    opacity: .3;
    left: 50%;
    content: " ";
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 50%;
    border-left-color: transparent!important;
    border-right-color: transparent!important;
    -webkit-animation: load-spin 450ms infinite linear;
    animation: load-spin 450ms infinite linear
}

.color-scheme-light .color-scheme-dark .product-grid-item .product-title>a {
    color: #252222
}

.woocommerce-password-strength:empty {
    margin: 0;
    padding: 0
}

.basel-pagination:before {
    content: '';
    display: block;
    clear: both
}

.basel-hover-button .basel-buttons .product-compare-button>a:before,
.basel-hover-button .basel-buttons .quick-view>a:before,
.basel-hover-info .basel-buttons .product-compare-button>a:before,
.basel-hover-info .basel-buttons .quick-view>a:before {
    border-color: #FFF!important
}

.single-product .site-content>.woocommerce-message {
    display: none
}

.basel-entry-meta li.modified-date {
    display: none!important
}

.owl-carousel .blog-design-masonry.has-post-thumbnail .post-date {
    left: 10px
}

.instagram-widget.instagram-slider .instagram-pics li {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%
}

.slick-slide.active-thumb {
    transition: none!important
}

.basel-font-weight-600 {
    font-weight: 600
}

@media (min-width:992px) {
    .buy-basel {
        position: fixed;
        bottom: 40px;
        left: 40px;
        background-color: black;
        color: white;
        padding: 10px 20px;
        border-radius: 30px;
        text-transform: uppercase;
        transition: all .3s ease;
        z-index: 1000
    }
    .buy-basel img {
        margin-right: 10px;
        margin-bottom: 1px
    }
    .buy-basel:hover,
    .buy-basel:focus {
        background-color: #97ca58;
        color: white;
        text-decoration: none;
        border-color: black
    }
    .rtl .buy-basel {
        left: auto;
        right: 40px
    }
    .rtl .buy-basel img {
        margin-right: 0;
        margin-left: 10px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .buy-basel {
        display: none
    }
    .swatch-on-grid .basel-tooltip-label {
        display: none
    }
    .dropdown-scroll>.sub-menu-dropdown {
        display: none
    }
    .basel-back-btn>span:before,
    .basel-products-nav .product-btn>a span:before {
        top: 0
    }
    .shop-loop-head {
        width: 100%
    }
    .single-product-content .product-images .thumbs-position-left .thumbnails {
        margin-top: 4px
    }
    body .basel-parallax {
        background-attachment: scroll!important
    }
}

@media (min-width:481px) and (max-width:767px) {
    .buy-basel {
        display: none
    }
    .swatch-on-grid .basel-tooltip-label {
        display: none
    }
    .dropdown-scroll>.sub-menu-dropdown {
        display: none
    }
    .basel-back-btn>span:before,
    .basel-products-nav .product-btn>a span:before {
        top: 0
    }
    .single-product-content .product-images .thumbs-position-left .thumbnails {
        margin-top: 4px
    }
    body .basel-parallax {
        background-attachment: scroll!important
    }
    .basel-text-block-wrapper .basel-text-block {
        max-width: 100%
    }
}

@media (max-width:480px) {
    .buy-basel {
        display: none
    }
    .swatch-on-grid .basel-tooltip-label {
        display: none
    }
    .dropdown-scroll>.sub-menu-dropdown {
        display: none
    }
    .basel-back-btn>span:before,
    .basel-products-nav .product-btn>a span:before {
        top: 0
    }
    .single-product-content .product-images .thumbs-position-left .thumbnails {
        margin-top: 4px
    }
    body .basel-parallax {
        background-attachment: scroll!important
    }
    .basel-text-block-wrapper .basel-text-block {
        max-width: 100%
    }
}

.recentcomments a {
  display: inline!important;
  padding: 0!important;
  margin: 0!important
}
.page-title-default {
                                                                                                                                                                                                                                                                                                                                                                                    background-color: #0a0a0a;
                                                                                                                                                                                                                                                                                                                                                                                    background-size: cover
                                                                                                                                                                                                                                                                                                                                                                                }

.topbar-wrapp {
    background-color: #1daaa3
}

.main-header {
    border-bottom: 2px solid #f5f5f5
}

.footer-container {
    background-color: #000
}

body,
p,
.widget_nav_mega_menu .menu>li>a,
.mega-navigation .menu>li>a,
.basel-navigation .menu>li.menu-item-design-full-width .sub-sub-menu li a,
.basel-navigation .menu>li.menu-item-design-sized .sub-sub-menu li a,
.basel-navigation .menu>li.menu-item-design-default .sub-menu li a,
.font-default {
    font-family: Karla, Arial, Helvetica, sans-serif
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1,
h2,
h3,
h4,
h5,
h6,
.title,
table th,
.wc-tabs li a,
.masonry-filter li a,
.woocommerce .cart-empty,
.basel-navigation .menu>li.menu-item-design-full-width .sub-menu>li>a,
.basel-navigation .menu>li.menu-item-design-sized .sub-menu>li>a,
.mega-menu-list>li>a,
fieldset legend,
table th,
.basel-empty-compare,
.compare-field,
.compare-value:before,
.color-scheme-dark .info-box-inner h1,
.color-scheme-dark .info-box-inner h2,
.color-scheme-dark .info-box-inner h3,
.color-scheme-dark .info-box-inner h4,
.color-scheme-dark .info-box-inner h5,
.color-scheme-dark .info-box-inner h6 {
    font-family: Karla, 'MS Sans Serif', Geneva, sans-serif;
    font-weight: 400;
    font-style: normal
}

.product-title a,
.post-slide .entry-title a,
.category-grid-item .hover-mask h3,
.basel-search-full-screen .basel-search-inner input[type="text"],
.blog-post-loop .entry-title,
.post-title-large-image .entry-title,
.single-product-content .entry-title,
.font-title {
    font-family: Lora, 'MS Sans Serif', Geneva, sans-serif;
    font-weight: 400;
    font-style: normal
}

.title-alt,
.subtitle,
.font-alt,
.basel-entry-meta {
    font-family: Lato, 'Comic Sans MS', cursive;
    font-weight: 400;
    font-style: italic
}

.widgettitle,
.widget-title {
    font-family: Karla;
    font-weight: 700;
    font-style: normal;
    color: #0a0a0a
}

.main-nav .menu>li>a {
    font-family: Karla;
    font-weight: 400;
    font-style: normal
}

.color-primary,
.mobile-nav ul li.current-menu-item>a,
.main-nav .menu>li.current-menu-item>a,
.main-nav .menu>li.onepage-link.current-menu-item>a,
.main-nav .menu>li>a:hover,
.main-nav .menu>li>a:focus,
.basel-navigation .menu>li.menu-item-design-default ul li:hover>a,
.basel-navigation .menu>li.menu-item-design-full-width .sub-menu li a:hover,
.basel-navigation .menu>li.menu-item-design-sized .sub-menu li a:hover,
.basel-product-categories.responsive-cateogires li.current-cat>a,
.basel-product-categories.responsive-cateogires li.current-cat-parent>a,
.basel-product-categories.responsive-cateogires li.current-cat-ancestor>a,
.basel-my-account-links a:hover:before,
.basel-my-account-links a:focus:before,
.mega-menu-list>li>a:hover,
.mega-menu-list .sub-sub-menu li a:hover,
a[href^=tel],
.topbar-menu ul>li>.sub-menu-dropdown li>a:hover,
.btn.btn-color-primary.btn-style-bordered,
.button.btn-color-primary.btn-style-bordered,
button.btn-color-primary.btn-style-bordered,
.added_to_cart.btn-color-primary.btn-style-bordered,
input[type=submit].btn-color-primary.btn-style-bordered,
a.login-to-prices-msg,
a.login-to-prices-msg:hover,
.basel-dark .single-product-content .entry-summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:before,
.basel-dark .single-product-content .entry-summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before,
.basel-dark .read-more-section .btn-read-more,
.basel-dark .products-footer .basel-blog-load-more,
.basel-dark .products-footer .basel-products-load-more,
.basel-dark .products-footer .basel-portfolio-load-more,
.basel-dark .blog-footer .basel-blog-load-more,
.basel-dark .blog-footer .basel-products-load-more,
.basel-dark .blog-footer .basel-portfolio-load-more,
.basel-dark .portfolio-footer .basel-blog-load-more,
.basel-dark .portfolio-footer .basel-products-load-more,
.basel-dark .portfolio-footer .basel-portfolio-load-more,
.basel-dark .color-primary,
.basel-hover-link .swap-elements .btn-add a,
.basel-hover-link .swap-elements .btn-add a:hover,
.basel-hover-link .swap-elements .btn-add a:focus,
.blog-post-loop .entry-title a:hover,
.blog-post-loop.sticky .entry-title:before,
.post-slide .entry-title a:hover,
.comments-area .reply a,
.single-post-navigation a:hover,
blockquote footer:before,
blockquote cite,
.format-quote .entry-content blockquote cite,
.format-quote .entry-content blockquote cite a,
.basel-entry-meta .meta-author a,
.search-no-results.woocommerce .site-content:before,
.search-no-results .not-found .entry-header:before,
.login-form-footer .lost_password:hover,
.login-form-footer .lost_password:focus,
.error404 .page-title,
.menu-label-new:after,
.widget_shopping_cart .product_list_widget li .quantity .amount,
.product_list_widget li ins .amount,
.price ins>.amount,
.price ins,
.single-product .price,
.single-product .price .amount,
.popup-quick-view .price,
.popup-quick-view .price .amount,
.basel-products-nav .product-short .price,
.basel-products-nav .product-short .price .amount,
.star-rating span:before,
.single-product-content .comment-form .stars span a:hover,
.single-product-content .comment-form .stars span a.active,
.tabs-layout-accordion .basel-tab-wrapper .basel-accordion-title:hover,
.tabs-layout-accordion .basel-tab-wrapper .basel-accordion-title.active,
.single-product-content .woocommerce-product-details__short-description ul>li:before,
.single-product-content #tab-description ul>li:before,
.blog-post-loop .entry-content ul>li:before,
.comments-area .comment-list li ul>li:before,
.brands-list .brand-item a:hover,
.sidebar-widget li a:hover,
.filter-widget li a:hover,
.sidebar-widget li>ul li a:hover,
.filter-widget li>ul li a:hover,
.basel-price-filter ul li a:hover .amount,
.basel-hover-effect-4 .swap-elements>a,
.basel-hover-effect-4 .swap-elements>a:hover,
.product-grid-item .basel-product-cats a:hover,
.product-grid-item .basel-product-brands-links a:hover,
.wishlist_table tr td.product-price ins .amount,
.basel-buttons .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse>a,
.basel-buttons .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse>a,
.basel-buttons .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse>a:hover,
.basel-buttons .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse>a:hover,
.basel-buttons .product-compare-button>a.added:before,
.single-product-content .entry-summary .yith-wcwl-add-to-wishlist a:hover,
.single-product-content .container .entry-summary .yith-wcwl-add-to-wishlist a:hover:before,
.single-product-content .entry-summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:before,
.single-product-content .entry-summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before,
.single-product-content .entry-summary .yith-wcwl-add-to-wishlist .yith-wcwl-add-button.feid-in>a:before,
.basel-sticky-btn .basel-sticky-btn-wishlist.exists,
.basel-sticky-btn .basel-sticky-btn-wishlist:hover,
.vendors-list ul li a:hover,
.product-list-item .product-list-buttons .yith-wcwl-add-to-wishlist a:hover,
.product-list-item .product-list-buttons .yith-wcwl-add-to-wishlist a:focus,
.product-list-item .product-list-buttons .product-compare-button a:hover,
.product-list-item .product-list-buttons .product-compare-button a:focus,
.product-list-item .product-list-buttons .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse>a:before,
.product-list-item .product-list-buttons .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse>a:before,
.product-list-item .product-list-buttons .product-compare-button>a.added:before,
.single-product-content .entry-summary .compare-btn-wrapper a:hover,
.single-product-content .entry-summary .compare-btn-wrapper a:hover:before,
.single-product-content .entry-summary .compare-btn-wrapper a.added:before,
.single-product-content .entry-summary .basel-sizeguide-btn:hover,
.single-product-content .entry-summary .basel-sizeguide-btn:hover:before,
.blog-post-loop .entry-content ul li:before,
.basel-menu-price .menu-price-price,
.basel-menu-price.cursor-pointer:hover .menu-price-title,
.comments-area #cancel-comment-reply-link:hover,
.comments-area .comment-body .comment-edit-link:hover,
.popup-quick-view .entry-summary .entry-title a:hover,
.wpb_text_column ul:not(.social-icons)>li:before,
.widget_product_categories .basel-cats-toggle:hover,
.widget_product_categories .toggle-active,
.widget_product_categories .current-cat-parent>a,
.widget_product_categories .current-cat>a,
.woocommerce-checkout-review-order-table tfoot .order-total td .amount,
.widget_shopping_cart .product_list_widget li .remove:hover,
.basel-active-filters .widget_layered_nav_filters ul li a .amount,
.title-wrapper.basel-title-color-primary .title-subtitle,
.widget_shopping_cart .widget_shopping_cart_content>.total .amount,
.color-scheme-light .vc_tta-tabs.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tab.vc_active>a,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic .vc_tta-tab.vc_active>a {
    color: #179a94
}

.right-column .wishlist-info-widget>a>span,
.basel-cart-design-2>a .basel-cart-number,
.basel-cart-design-3>a .basel-cart-number,
.btn.btn-color-primary,
.button.btn-color-primary,
button.btn-color-primary,
.added_to_cart.btn-color-primary,
input[type=submit].btn-color-primary,
.btn.btn-color-primary:hover,
.btn.btn-color-primary:focus,
.button.btn-color-primary:hover,
.button.btn-color-primary:focus,
button.btn-color-primary:hover,
button.btn-color-primary:focus,
.added_to_cart.btn-color-primary:hover,
.added_to_cart.btn-color-primary:focus,
input[type=submit].btn-color-primary:hover,
input[type=submit].btn-color-primary:focus,
.btn.btn-color-primary.btn-style-bordered:hover,
.btn.btn-color-primary.btn-style-bordered:focus,
.button.btn-color-primary.btn-style-bordered:hover,
.button.btn-color-primary.btn-style-bordered:focus,
button.btn-color-primary.btn-style-bordered:hover,
button.btn-color-primary.btn-style-bordered:focus,
.added_to_cart.btn-color-primary.btn-style-bordered:hover,
.added_to_cart.btn-color-primary.btn-style-bordered:focus,
input[type=submit].btn-color-primary.btn-style-bordered:hover,
input[type=submit].btn-color-primary.btn-style-bordered:focus,
.widget_shopping_cart .widget_shopping_cart_content .buttons .checkout,
.widget_shopping_cart .widget_shopping_cart_content .buttons .checkout:hover,
.widget_shopping_cart .widget_shopping_cart_content .buttons .checkout:focus,
.basel-search-dropdown .basel-search-wrapper .basel-search-inner form button,
.basel-search-dropdown .basel-search-wrapper .basel-search-inner form button:hover,
.basel-search-dropdown .basel-search-wrapper .basel-search-inner form button:focus,
.no-results .searchform #searchsubmit,
.no-results .searchform #searchsubmit:hover,
.no-results .searchform #searchsubmit:focus,
.comments-area .comment-respond input[type=submit],
.comments-area .comment-respond input[type=submit]:hover,
.comments-area .comment-respond input[type=submit]:focus,
.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout>a.button,
.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout>a.button:hover,
.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout>a.button:focus,
.woocommerce .checkout_coupon .button,
.woocommerce .checkout_coupon .button:hover,
.woocommerce .checkout_coupon .button:focus,
.woocommerce .place-order button,
.woocommerce .place-order button:hover,
.woocommerce .place-order button:focus,
.woocommerce-order-pay #order_review .button,
.woocommerce-order-pay #order_review .button:hover,
.woocommerce-order-pay #order_review .button:focus,
.woocommerce input[name=track],
.woocommerce input[name=track]:hover,
.woocommerce input[name=track]:focus,
.woocommerce input[name=save_account_details],
.woocommerce input[name=save_address],
.woocommerce-page input[name=save_account_details],
.woocommerce-page input[name=save_address],
.woocommerce input[name=save_account_details]:hover,
.woocommerce input[name=save_account_details]:focus,
.woocommerce input[name=save_address]:hover,
.woocommerce input[name=save_address]:focus,
.woocommerce-page input[name=save_account_details]:hover,
.woocommerce-page input[name=save_account_details]:focus,
.woocommerce-page input[name=save_address]:hover,
.woocommerce-page input[name=save_address]:focus,
.search-no-results .not-found .entry-content .searchform #searchsubmit,
.search-no-results .not-found .entry-content .searchform #searchsubmit:hover,
.search-no-results .not-found .entry-content .searchform #searchsubmit:focus,
.error404 .page-content>.searchform #searchsubmit,
.error404 .page-content>.searchform #searchsubmit:hover,
.error404 .page-content>.searchform #searchsubmit:focus,
.return-to-shop .button,
.return-to-shop .button:hover,
.return-to-shop .button:focus,
.basel-hover-excerpt .btn-add a,
.basel-hover-excerpt .btn-add a:hover,
.basel-hover-excerpt .btn-add a:focus,
.basel-hover-standard .btn-add>a,
.basel-hover-standard .btn-add>a:hover,
.basel-hover-standard .btn-add>a:focus,
.basel-price-table .basel-plan-footer>a,
.basel-price-table .basel-plan-footer>a:hover,
.basel-price-table .basel-plan-footer>a:focus,
.basel-pf-btn button,
.basel-pf-btn button:hover,
.basel-pf-btn button:focus,
.basel-info-box.box-style-border .info-btn-wrapper a,
.basel-info-box.box-style-border .info-btn-wrapper a:hover,
.basel-info-box.box-style-border .info-btn-wrapper a:focus,
.basel-info-box2.box-style-border .info-btn-wrapper a,
.basel-info-box2.box-style-border .info-btn-wrapper a:hover,
.basel-info-box2.box-style-border .info-btn-wrapper a:focus,
.basel-hover-quick .woocommerce-variation-add-to-cart .button,
.basel-hover-quick .woocommerce-variation-add-to-cart .button:hover,
.basel-hover-quick .woocommerce-variation-add-to-cart .button:focus,
.product-list-item .product-list-buttons>a,
.product-list-item .product-list-buttons>a:hover,
.product-list-item .product-list-buttons>a:focus,
.wpb_video_wrapper .button-play,
.basel-navigation .menu>li.callto-btn>a,
.basel-navigation .menu>li.callto-btn>a:hover,
.basel-navigation .menu>li.callto-btn>a:focus,
.basel-dark .products-footer .basel-blog-load-more:hover,
.basel-dark .products-footer .basel-blog-load-more:focus,
.basel-dark .products-footer .basel-products-load-more:hover,
.basel-dark .products-footer .basel-products-load-more:focus,
.basel-dark .products-footer .basel-portfolio-load-more:hover,
.basel-dark .products-footer .basel-portfolio-load-more:focus,
.basel-dark .blog-footer .basel-blog-load-more:hover,
.basel-dark .blog-footer .basel-blog-load-more:focus,
.basel-dark .blog-footer .basel-products-load-more:hover,
.basel-dark .blog-footer .basel-products-load-more:focus,
.basel-dark .blog-footer .basel-portfolio-load-more:hover,
.basel-dark .blog-footer .basel-portfolio-load-more:focus,
.basel-dark .portfolio-footer .basel-blog-load-more:hover,
.basel-dark .portfolio-footer .basel-blog-load-more:focus,
.basel-dark .portfolio-footer .basel-products-load-more:hover,
.basel-dark .portfolio-footer .basel-products-load-more:focus,
.basel-dark .portfolio-footer .basel-portfolio-load-more:hover,
.basel-dark .portfolio-footer .basel-portfolio-load-more:focus,
.basel-dark .feedback-form .wpcf7-submit,
.basel-dark .mc4wp-form input[type=submit],
.basel-dark .single_add_to_cart_button,
.basel-dark .basel-compare-col .add_to_cart_button,
.basel-dark .basel-compare-col .added_to_cart,
.basel-dark .basel-sticky-btn .basel-sticky-add-to-cart,
.basel-dark .single-product-content .comment-form .form-submit input[type=submit],
.basel-dark .basel-registration-page .basel-switch-to-register,
.basel-dark .register .button,
.basel-dark .login .button,
.basel-dark .lost_reset_password .button,
.basel-dark .wishlist_table tr td.product-add-to-cart>.add_to_cart.button,
.basel-dark .woocommerce .cart-actions .coupon .button,
.basel-dark .feedback-form .wpcf7-submit:hover,
.basel-dark .mc4wp-form input[type=submit]:hover,
.basel-dark .single_add_to_cart_button:hover,
.basel-dark .basel-compare-col .add_to_cart_button:hover,
.basel-dark .basel-compare-col .added_to_cart:hover,
.basel-dark .basel-sticky-btn .basel-sticky-add-to-cart:hover,
.basel-dark .single-product-content .comment-form .form-submit input[type=submit]:hover,
.basel-dark .basel-registration-page .basel-switch-to-register:hover,
.basel-dark .register .button:hover,
.basel-dark .login .button:hover,
.basel-dark .lost_reset_password .button:hover,
.basel-dark .wishlist_table tr td.product-add-to-cart>.add_to_cart.button:hover,
.basel-dark .woocommerce .cart-actions .coupon .button:hover,
.basel-ext-primarybtn-dark:focus,
.basel-dark .feedback-form .wpcf7-submit:focus,
.basel-dark .mc4wp-form input[type=submit]:focus,
.basel-dark .single_add_to_cart_button:focus,
.basel-dark .basel-compare-col .add_to_cart_button:focus,
.basel-dark .basel-compare-col .added_to_cart:focus,
.basel-dark .basel-sticky-btn .basel-sticky-add-to-cart:focus,
.basel-dark .single-product-content .comment-form .form-submit input[type=submit]:focus,
.basel-dark .basel-registration-page .basel-switch-to-register:focus,
.basel-dark .register .button:focus,
.basel-dark .login .button:focus,
.basel-dark .lost_reset_password .button:focus,
.basel-dark .wishlist_table tr td.product-add-to-cart>.add_to_cart.button:focus,
.basel-dark .woocommerce .cart-actions .coupon .button:focus,
.basel-stock-progress-bar .progress-bar,
.widget_price_filter .ui-slider .ui-slider-handle:after,
.widget_price_filter .ui-slider .ui-slider-range,
.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover,
div.bbp-submit-wrapper button,
div.bbp-submit-wrapper button:hover,
div.bbp-submit-wrapper button:focus,
#bbpress-forums .bbp-search-form #bbp_search_submit,
#bbpress-forums .bbp-search-form #bbp_search_submit:hover,
#bbpress-forums .bbp-search-form #bbp_search_submit:focus,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.product-video-button a:hover:before,
.product-360-button a:hover:before,
.mobile-nav ul li .up-icon,
.scrollToTop:hover,
.scrollToTop:focus,
.basel-sticky-filter-btn:hover,
.basel-sticky-filter-btn:focus,
.categories-opened li a:active,
.basel-price-table .basel-plan-price,
.header-categories .secondary-header .mega-navigation,
.widget_nav_mega_menu,
.meta-post-categories,
.slider-title:before,
.title-wrapper.basel-title-style-simple .title:after,
.menu-label-new,
.product-label.onsale,
.color-scheme-light .vc_tta-tabs.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tab.vc_active>a span:after,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic .vc_tta-tab.vc_active>a span:after,
.portfolio-with-bg-alt .portfolio-entry:hover .entry-header>.portfolio-info {
    background-color: #179a94
}

.btn.btn-color-primary,
.button.btn-color-primary,
button.btn-color-primary,
.added_to_cart.btn-color-primary,
input[type=submit].btn-color-primary,
.btn.btn-color-primary:hover,
.btn.btn-color-primary:focus,
.button.btn-color-primary:hover,
.button.btn-color-primary:focus,
button.btn-color-primary:hover,
button.btn-color-primary:focus,
.added_to_cart.btn-color-primary:hover,
.added_to_cart.btn-color-primary:focus,
input[type=submit].btn-color-primary:hover,
input[type=submit].btn-color-primary:focus,
.btn.btn-color-primary.btn-style-bordered:hover,
.btn.btn-color-primary.btn-style-bordered:focus,
.button.btn-color-primary.btn-style-bordered:hover,
.button.btn-color-primary.btn-style-bordered:focus,
button.btn-color-primary.btn-style-bordered:hover,
button.btn-color-primary.btn-style-bordered:focus,
.widget_shopping_cart .widget_shopping_cart_content .buttons .checkout,
.widget_shopping_cart .widget_shopping_cart_content .buttons .checkout:hover,
.widget_shopping_cart .widget_shopping_cart_content .buttons .checkout:focus,
.basel-search-dropdown .basel-search-wrapper .basel-search-inner form button,
.basel-search-dropdown .basel-search-wrapper .basel-search-inner form button:hover,
.basel-search-dropdown .basel-search-wrapper .basel-search-inner form button:focus,
.comments-area .comment-respond input[type=submit],
.comments-area .comment-respond input[type=submit]:hover,
.comments-area .comment-respond input[type=submit]:focus,
.sidebar-container .mc4wp-form input[type=submit],
.sidebar-container .mc4wp-form input[type=submit]:hover,
.sidebar-container .mc4wp-form input[type=submit]:focus,
.footer-container .mc4wp-form input[type=submit],
.footer-container .mc4wp-form input[type=submit]:hover,
.footer-container .mc4wp-form input[type=submit]:focus,
.filters-area .mc4wp-form input[type=submit],
.filters-area .mc4wp-form input[type=submit]:hover,
.filters-area .mc4wp-form input[type=submit]:focus,
.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout>a.button,
.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout>a.button:hover,
.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout>a.button:focus,
.woocommerce .checkout_coupon .button,
.woocommerce .checkout_coupon .button:hover,
.woocommerce .checkout_coupon .button:focus,
.woocommerce .place-order button,
.woocommerce .place-order button:hover,
.woocommerce .place-order button:focus,
.woocommerce-order-pay #order_review .button,
.woocommerce-order-pay #order_review .button:hover,
.woocommerce-order-pay #order_review .button:focus,
.woocommerce input[name=track],
.woocommerce input[name=track]:hover,
.woocommerce input[name=track]:focus,
.woocommerce input[name=save_account_details],
.woocommerce input[name=save_address],
.woocommerce-page input[name=save_account_details],
.woocommerce-page input[name=save_address],
.woocommerce input[name=save_account_details]:hover,
.woocommerce input[name=save_account_details]:focus,
.woocommerce input[name=save_address]:hover,
.woocommerce input[name=save_address]:focus,
.woocommerce-page input[name=save_account_details]:hover,
.woocommerce-page input[name=save_account_details]:focus,
.woocommerce-page input[name=save_address]:hover,
.woocommerce-page input[name=save_address]:focus,
.search-no-results .not-found .entry-content .searchform #searchsubmit,
.search-no-results .not-found .entry-content .searchform #searchsubmit:hover,
.search-no-results .not-found .entry-content .searchform #searchsubmit:focus,
.error404 .page-content>.searchform #searchsubmit,
.error404 .page-content>.searchform #searchsubmit:hover,
.error404 .page-content>.searchform #searchsubmit:focus,
.no-results .searchform #searchsubmit,
.no-results .searchform #searchsubmit:hover,
.no-results .searchform #searchsubmit:focus,
.return-to-shop .button,
.return-to-shop .button:hover,
.return-to-shop .button:focus,
.basel-hover-excerpt .btn-add a,
.basel-hover-excerpt .btn-add a:hover,
.basel-hover-excerpt .btn-add a:focus,
.basel-hover-standard .btn-add>a,
.basel-hover-standard .btn-add>a:hover,
.basel-hover-standard .btn-add>a:focus,
.basel-price-table .basel-plan-footer>a,
.basel-price-table .basel-plan-footer>a:hover,
.basel-price-table .basel-plan-footer>a:focus,
.basel-pf-btn button,
.basel-pf-btn button:hover,
.basel-pf-btn button:focus,
.basel-info-box.box-style-border .info-btn-wrapper a,
.basel-info-box.box-style-border .info-btn-wrapper a:hover,
.basel-info-box.box-style-border .info-btn-wrapper a:focus,
.basel-info-box2.box-style-border .info-btn-wrapper a,
.basel-info-box2.box-style-border .info-btn-wrapper a:hover,
.basel-info-box2.box-style-border .info-btn-wrapper a:focus,
.basel-hover-quick .woocommerce-variation-add-to-cart .button,
.basel-hover-quick .woocommerce-variation-add-to-cart .button:hover,
.basel-hover-quick .woocommerce-variation-add-to-cart .button:focus,
.product-list-item .product-list-buttons>a,
.product-list-item .product-list-buttons>a:hover,
.product-list-item .product-list-buttons>a:focus,
.wpb_video_wrapper .button-play,
.woocommerce-store-notice__dismiss-link:hover,
.woocommerce-store-notice__dismiss-link:focus,
.basel-compare-table .compare-loader:after,
.basel-dark .read-more-section .btn-read-more,
.basel-dark .products-footer .basel-blog-load-more,
.basel-dark .products-footer .basel-products-load-more,
.basel-dark .products-footer .basel-portfolio-load-more,
.basel-dark .blog-footer .basel-blog-load-more,
.basel-dark .blog-footer .basel-products-load-more,
.basel-dark .blog-footer .basel-portfolio-load-more,
.basel-dark .portfolio-footer .basel-blog-load-more,
.basel-dark .portfolio-footer .basel-products-load-more,
.basel-dark .portfolio-footer .basel-portfolio-load-more,
.basel-dark .products-footer .basel-blog-load-more:hover,
.basel-dark .products-footer .basel-blog-load-more:focus,
.basel-dark .products-footer .basel-products-load-more:hover,
.basel-dark .products-footer .basel-products-load-more:focus,
.basel-dark .products-footer .basel-portfolio-load-more:hover,
.basel-dark .products-footer .basel-portfolio-load-more:focus,
.basel-dark .blog-footer .basel-blog-load-more:hover,
.basel-dark .blog-footer .basel-blog-load-more:focus,
.basel-dark .blog-footer .basel-products-load-more:hover,
.basel-dark .blog-footer .basel-products-load-more:focus,
.basel-dark .blog-footer .basel-portfolio-load-more:hover,
.basel-dark .blog-footer .basel-portfolio-load-more:focus,
.basel-dark .portfolio-footer .basel-blog-load-more:hover,
.basel-dark .portfolio-footer .basel-blog-load-more:focus,
.basel-dark .portfolio-footer .basel-products-load-more:hover,
.basel-dark .portfolio-footer .basel-products-load-more:focus,
.basel-dark .portfolio-footer .basel-portfolio-load-more:hover,
.basel-dark .portfolio-footer .basel-portfolio-load-more:focus,
.basel-dark .products-footer .basel-blog-load-more:after,
.basel-dark .products-footer .basel-products-load-more:after,
.basel-dark .products-footer .basel-portfolio-load-more:after,
.basel-dark .blog-footer .basel-blog-load-more:after,
.basel-dark .blog-footer .basel-products-load-more:after,
.basel-dark .blog-footer .basel-portfolio-load-more:after,
.basel-dark .portfolio-footer .basel-blog-load-more:after,
.basel-dark .portfolio-footer .basel-products-load-more:after,
.basel-dark .portfolio-footer .basel-portfolio-load-more:after,
.basel-dark .feedback-form .wpcf7-submit,
.basel-dark .mc4wp-form input[type=submit],
.basel-dark .single_add_to_cart_button,
.basel-dark .basel-compare-col .add_to_cart_button,
.basel-dark .basel-compare-col .added_to_cart,
.basel-dark .basel-sticky-btn .basel-sticky-add-to-cart,
.basel-dark .single-product-content .comment-form .form-submit input[type=submit],
.basel-dark .basel-registration-page .basel-switch-to-register,
.basel-dark .register .button,
.basel-dark .login .button,
.basel-dark .lost_reset_password .button,
.basel-dark .wishlist_table tr td.product-add-to-cart>.add_to_cart.button,
.basel-dark .woocommerce .cart-actions .coupon .button,
.basel-dark .feedback-form .wpcf7-submit:hover,
.basel-dark .mc4wp-form input[type=submit]:hover,
.basel-dark .single_add_to_cart_button:hover,
.basel-dark .basel-compare-col .add_to_cart_button:hover,
.basel-dark .basel-compare-col .added_to_cart:hover,
.basel-dark .basel-sticky-btn .basel-sticky-add-to-cart:hover,
.basel-dark .single-product-content .comment-form .form-submit input[type=submit]:hover,
.basel-dark .basel-registration-page .basel-switch-to-register:hover,
.basel-dark .register .button:hover,
.basel-dark .login .button:hover,
.basel-dark .lost_reset_password .button:hover,
.basel-dark .wishlist_table tr td.product-add-to-cart>.add_to_cart.button:hover,
.basel-dark .woocommerce .cart-actions .coupon .button:hover,
.basel-ext-primarybtn-dark:focus,
.basel-dark .feedback-form .wpcf7-submit:focus,
.basel-dark .mc4wp-form input[type=submit]:focus,
.basel-dark .single_add_to_cart_button:focus,
.basel-dark .basel-compare-col .add_to_cart_button:focus,
.basel-dark .basel-compare-col .added_to_cart:focus,
.basel-dark .basel-sticky-btn .basel-sticky-add-to-cart:focus,
.basel-dark .single-product-content .comment-form .form-submit input[type=submit]:focus,
.basel-dark .basel-registration-page .basel-switch-to-register:focus,
.basel-dark .register .button:focus,
.basel-dark .login .button:focus,
.basel-dark .lost_reset_password .button:focus,
.basel-dark .wishlist_table tr td.product-add-to-cart>.add_to_cart.button:focus,
.basel-dark .woocommerce .cart-actions .coupon .button:focus,
.cookies-buttons .cookies-accept-btn:hover,
.cookies-buttons .cookies-accept-btn:focus,
.blockOverlay:after,
.basel-price-table:hover,
.title-shop .nav-shop ul li a:after,
.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover,
div.bbp-submit-wrapper button,
div.bbp-submit-wrapper button:hover,
div.bbp-submit-wrapper button:focus,
#bbpress-forums .bbp-search-form #bbp_search_submit,
#bbpress-forums .bbp-search-form #bbp_search_submit:hover,
#bbpress-forums .bbp-search-form #bbp_search_submit:focus,
.basel-hover-link .swap-elements .btn-add a,
.basel-hover-link .swap-elements .btn-add a:hover,
.basel-hover-link .swap-elements .btn-add a:focus,
.basel-hover-link .swap-elements .btn-add a.loading:after,
.scrollToTop:hover,
.scrollToTop:focus,
.basel-sticky-filter-btn:hover,
.basel-sticky-filter-btn:focus,
blockquote {
    border-color: #179a94
}

.with-animation .info-box-icon svg path,
.single-product-content .entry-summary .basel-sizeguide-btn:hover svg {
    stroke: #179a94
}

.button,
button,
input[type=submit],
.yith-woocompare-widget a.button.compare,
.basel-dark .basel-registration-page .basel-switch-to-register,
.basel-dark .login .button,
.basel-dark .register .button,
.basel-dark .widget_shopping_cart .buttons a,
.basel-dark .yith-woocompare-widget a.button.compare,
.basel-dark .widget_price_filter .price_slider_amount .button,
.basel-dark .woocommerce .cart-actions input[name="update_cart"] {
    background-color: #ECECEC
}

.button,
button,
input[type=submit],
.yith-woocompare-widget a.button.compare,
.basel-dark .basel-registration-page .basel-switch-to-register,
.basel-dark .login .button,
.basel-dark .register .button,
.basel-dark .widget_shopping_cart .buttons a,
.basel-dark .yith-woocompare-widget a.button.compare,
.basel-dark .widget_price_filter .price_slider_amount .button,
.basel-dark .woocommerce .cart-actions input[name="update_cart"] {
    border-color: #ECECEC
}

.button:hover,
.button:focus,
button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus,
.yith-woocompare-widget a.button.compare:hover,
.yith-woocompare-widget a.button.compare:focus,
.basel-dark .basel-registration-page .basel-switch-to-register:hover,
.basel-dark .basel-registration-page .basel-switch-to-register:focus,
.basel-dark .login .button:hover,
.basel-dark .login .button:focus,
.basel-dark .register .button:hover,
.basel-dark .register .button:focus,
.basel-dark .widget_shopping_cart .buttons a:hover,
.basel-dark .widget_shopping_cart .buttons a:focus,
.basel-dark .yith-woocompare-widget a.button.compare:hover,
.basel-dark .yith-woocompare-widget a.button.compare:focus,
.basel-dark .widget_price_filter .price_slider_amount .button:hover,
.basel-dark .widget_price_filter .price_slider_amount .button:focus,
.basel-dark .woocommerce .cart-actions input[name="update_cart"]:hover,
.basel-dark .woocommerce .cart-actions input[name="update_cart"]:focus {
    background-color: #3E3E3E
}

.button:hover,
.button:focus,
button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus,
.yith-woocompare-widget a.button.compare:hover,
.yith-woocompare-widget a.button.compare:focus,
.basel-dark .basel-registration-page .basel-switch-to-register:hover,
.basel-dark .basel-registration-page .basel-switch-to-register:focus,
.basel-dark .login .button:hover,
.basel-dark .login .button:focus,
.basel-dark .register .button:hover,
.basel-dark .register .button:focus,
.basel-dark .widget_shopping_cart .buttons a:hover,
.basel-dark .widget_shopping_cart .buttons a:focus,
.basel-dark .yith-woocompare-widget a.button.compare:hover,
.basel-dark .yith-woocompare-widget a.button.compare:focus,
.basel-dark .widget_price_filter .price_slider_amount .button:hover,
.basel-dark .widget_price_filter .price_slider_amount .button:focus,
.basel-dark .woocommerce .cart-actions input[name="update_cart"]:hover,
.basel-dark .woocommerce .cart-actions input[name="update_cart"]:focus {
    border-color: #3E3E3E
}

.single_add_to_cart_button,
.basel-sticky-btn .basel-sticky-add-to-cart,
.woocommerce .cart-actions .coupon .button,
.added_to_cart.btn-color-black,
input[type=submit].btn-color-black,
.wishlist_table tr td.product-add-to-cart>.add_to_cart.button,
.basel-hover-quick .quick-shop-btn>a,
table.compare-list tr.add-to-cart td a,
.basel-compare-col .add_to_cart_button,
.basel-compare-col .added_to_cart {
    background-color: #000
}

.single_add_to_cart_button,
.basel-sticky-btn .basel-sticky-add-to-cart,
.woocommerce .cart-actions .coupon .button,
.added_to_cart.btn-color-black,
input[type=submit].btn-color-black,
.wishlist_table tr td.product-add-to-cart>.add_to_cart.button,
.basel-hover-quick .quick-shop-btn>a,
table.compare-list tr.add-to-cart td a,
.basel-compare-col .add_to_cart_button,
.basel-compare-col .added_to_cart {
    border-color: #000
}

.basel-hover-alt .btn-add>a {
    color: #000
}

.single_add_to_cart_button:hover,
.single_add_to_cart_button:focus,
.basel-sticky-btn .basel-sticky-add-to-cart:hover,
.basel-sticky-btn .basel-sticky-add-to-cart:focus,
.woocommerce .cart-actions .coupon .button:hover,
.woocommerce .cart-actions .coupon .button:focus,
.added_to_cart.btn-color-black:hover,
.added_to_cart.btn-color-black:focus,
input[type=submit].btn-color-black:hover,
input[type=submit].btn-color-black:focus,
.wishlist_table tr td.product-add-to-cart>.add_to_cart.button:hover,
.wishlist_table tr td.product-add-to-cart>.add_to_cart.button:focus,
.basel-hover-quick .quick-shop-btn>a:hover,
.basel-hover-quick .quick-shop-btn>a:focus,
table.compare-list tr.add-to-cart td a:hover,
table.compare-list tr.add-to-cart td a:focus,
.basel-compare-col .add_to_cart_button:hover,
.basel-compare-col .add_to_cart_button:focus,
.basel-compare-col .added_to_cart:hover,
.basel-compare-col .added_to_cart:focus {
    background-color: #333
}

.single_add_to_cart_button:hover,
.single_add_to_cart_button:focus,
.basel-sticky-btn .basel-sticky-add-to-cart:hover,
.basel-sticky-btn .basel-sticky-add-to-cart:focus,
.woocommerce .cart-actions .coupon .button:hover,
.woocommerce .cart-actions .coupon .button:focus,
.added_to_cart.btn-color-black:hover,
.added_to_cart.btn-color-black:focus,
input[type=submit].btn-color-black:hover,
input[type=submit].btn-color-black:focus,
.wishlist_table tr td.product-add-to-cart>.add_to_cart.button:hover,
.wishlist_table tr td.product-add-to-cart>.add_to_cart.button:focus,
.basel-hover-quick .quick-shop-btn>a:hover,
.basel-hover-quick .quick-shop-btn>a:focus,
table.compare-list tr.add-to-cart td a:hover,
table.compare-list tr.add-to-cart td a:focus,
.basel-compare-col .add_to_cart_button:hover,
.basel-compare-col .add_to_cart_button:focus,
.basel-compare-col .added_to_cart:hover,
.basel-compare-col .added_to_cart:focus {
    border-color: #333
}

.basel-hover-alt .btn-add>a:hover,
.basel-hover-alt .btn-add>a:focus {
    color: #333
}

.basel-promo-popup {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center
}


#basel-5c10fb83ea90b .basel-text-block {
   line-height: 48px;
   font-size: 38px
}

#basel-5c10fbabc027e .basel-text-block {
    line-height: 26px;
    font-size: 16px
}

#basel-5c10fc55df2d9 .basel-text-block {
    line-height: 26px;
    font-size: 16px
}

#basel-5c10fc87b36fc .basel-text-block {
    line-height: 34px;
    font-size: 24px
}

#basel-5c10e9c17b07b .basel-text-block {
    line-height: 28px;
    font-size: 18px
}

#basel-5c10e9c77e623 .basel-text-block {
    line-height: 28px;
    font-size: 18px
}

#basel-5c10e9cf8829c .basel-text-block {
    line-height: 28px;
    font-size: 18px
}

#basel-5c10e9d7a659a .basel-text-block {
    line-height: 28px;
    font-size: 18px
}

#basel-5c10e9de29ee7 .basel-text-block {
    line-height: 28px;
    font-size: 18px
}

#basel-5c10e9e48e9f3 .basel-text-block {
    line-height: 28px;
    font-size: 18px
}

#basel-5c10e9ebad971 .basel-text-block {
    line-height: 28px;
    font-size: 18px
}

@media (max-width:767px) {
    #basel-5c10fb83ea90b .basel-text-block {
        line-height: 38px;
        font-size: 28px
    }
    #basel-5c10fbabc027e .basel-text-block {
        line-height: 24px;
        font-size: 14px
    }
    #basel-5c10fc55df2d9 .basel-text-block {
        line-height: 24px;
        font-size: 14px
    }
    #basel-5c10fc87b36fc .basel-text-block {
        line-height: 32px;
        font-size: 22px
    }
}
.vc_custom_1544608287350 {
    margin-top: -40px!important;
    margin-bottom: 8vh!important;
    padding-top: 8vh!important;
    padding-bottom: 8vh!important;
    background-color: #f9f9f9!important
}

.vc_custom_1544620472512 {
    margin-bottom: 25px!important;
    border-top-width: 1px!important;
    border-right-width: 1px!important;
    border-bottom-width: 1px!important;
    border-left-width: 1px!important;
    padding-top: 30px!important;
    padding-right: 15px!important;
    padding-bottom: 30px!important;
    padding-left: 15px!important;
    border-left-color: rgba(118, 118, 118, .14)!important;
    border-left-style: solid!important;
    border-right-color: rgba(118, 118, 118, .14)!important;
    border-right-style: solid!important;
    border-top-color: rgba(118, 118, 118, .14)!important;
    border-top-style: solid!important;
    border-bottom-color: rgba(118, 118, 118, .14)!important;
    border-bottom-style: solid!important
}

.vc_custom_1544620480615 {
    margin-bottom: 25px!important;
    border-top-width: 1px!important;
    border-right-width: 1px!important;
    border-bottom-width: 1px!important;
    border-left-width: 1px!important;
    padding-top: 30px!important;
    padding-right: 15px!important;
    padding-bottom: 30px!important;
    padding-left: 15px!important;
    border-left-color: rgba(118, 118, 118, .14)!important;
    border-left-style: solid!important;
    border-right-color: rgba(118, 118, 118, .14)!important;
    border-right-style: solid!important;
    border-top-color: rgba(118, 118, 118, .14)!important;
    border-top-style: solid!important;
    border-bottom-color: rgba(118, 118, 118, .14)!important;
    border-bottom-style: solid!important
}

.vc_custom_1544620485855 {
    margin-bottom: 25px!important;
    border-top-width: 1px!important;
    border-right-width: 1px!important;
    border-bottom-width: 1px!important;
    border-left-width: 1px!important;
    padding-top: 30px!important;
    padding-right: 15px!important;
    padding-bottom: 30px!important;
    padding-left: 15px!important;
    border-left-color: rgba(118, 118, 118, .14)!important;
    border-left-style: solid!important;
    border-right-color: rgba(118, 118, 118, .14)!important;
    border-right-style: solid!important;
    border-top-color: rgba(118, 118, 118, .14)!important;
    border-top-style: solid!important;
    border-bottom-color: rgba(118, 118, 118, .14)!important;
    border-bottom-style: solid!important
}

.vc_custom_1544620492719 {
    margin-bottom: 25px!important;
    border-top-width: 1px!important;
    border-right-width: 1px!important;
    border-bottom-width: 1px!important;
    border-left-width: 1px!important;
    padding-top: 30px!important;
    padding-right: 15px!important;
    padding-bottom: 30px!important;
    padding-left: 15px!important;
    border-left-color: rgba(118, 118, 118, .14)!important;
    border-left-style: solid!important;
    border-right-color: rgba(118, 118, 118, .14)!important;
    border-right-style: solid!important;
    border-top-color: rgba(118, 118, 118, .14)!important;
    border-top-style: solid!important;
    border-bottom-color: rgba(118, 118, 118, .14)!important;
    border-bottom-style: solid!important
}

.vc_custom_1544620499677 {
    margin-bottom: 25px!important;
    border-top-width: 1px!important;
    border-right-width: 1px!important;
    border-bottom-width: 1px!important;
    border-left-width: 1px!important;
    padding-top: 30px!important;
    padding-right: 15px!important;
    padding-bottom: 30px!important;
    padding-left: 15px!important;
    border-left-color: rgba(118, 118, 118, .14)!important;
    border-left-style: solid!important;
    border-right-color: rgba(118, 118, 118, .14)!important;
    border-right-style: solid!important;
    border-top-color: rgba(118, 118, 118, .14)!important;
    border-top-style: solid!important;
    border-bottom-color: rgba(118, 118, 118, .14)!important;
    border-bottom-style: solid!important
}

.vc_custom_1544620506138 {
    margin-bottom: 25px!important;
    border-top-width: 1px!important;
    border-right-width: 1px!important;
    border-bottom-width: 1px!important;
    border-left-width: 1px!important;
    padding-top: 30px!important;
    padding-right: 15px!important;
    padding-bottom: 30px!important;
    padding-left: 15px!important;
    border-left-color: rgba(118, 118, 118, .14)!important;
    border-left-style: solid!important;
    border-right-color: rgba(118, 118, 118, .14)!important;
    border-right-style: solid!important;
    border-top-color: rgba(118, 118, 118, .14)!important;
    border-top-style: solid!important;
    border-bottom-color: rgba(118, 118, 118, .14)!important;
    border-bottom-style: solid!important
}

.vc_custom_1544620513409 {
    border-top-width: 1px!important;
    border-right-width: 1px!important;
    border-bottom-width: 1px!important;
    border-left-width: 1px!important;
    padding-top: 30px!important;
    padding-right: 15px!important;
    padding-bottom: 30px!important;
    padding-left: 15px!important;
    border-left-color: rgba(118, 118, 118, .14)!important;
    border-left-style: solid!important;
    border-right-color: rgba(118, 118, 118, .14)!important;
    border-right-style: solid!important;
    border-top-color: rgba(118, 118, 118, .14)!important;
    border-top-style: solid!important;
    border-bottom-color: rgba(118, 118, 118, .14)!important;
    border-bottom-style: solid!important
}

.vc_custom_1544608537419 {
    padding-top: 0px!important
}

.vc_custom_1544619068377 {
    margin-bottom: 0px!important
}

.vc_custom_1544616843839 {
    margin-bottom: 20px!important
}

.vc_custom_1544616881688 {
    margin-bottom: 20px!important
}

.vc_custom_1544617052240 {
    margin-bottom: 0px!important
}

.vc_custom_1544619451936 {
    padding-top: 0px!important
}

.vc_custom_1544617103511 {
    margin-bottom: 30px!important
}

.vc_custom_1544619171513 {
    padding-top: 0px!important
}

.vc_custom_1544612294327 {
    margin-bottom: 15px!important
}

.vc_custom_1544607363238 {
    margin-bottom: 0px!important
}

.vc_custom_1544619171513 {
    padding-top: 0px!important
}

.vc_custom_1544612301833 {
    margin-bottom: 15px!important
}

.vc_custom_1544543453050 {
    margin-bottom: 0px!important
}

.vc_custom_1544619171513 {
    padding-top: 0px!important
}

.vc_custom_1544612309191 {
    margin-bottom: 15px!important
}

.vc_custom_1544607445289 {
    margin-bottom: 0px!important
}

.vc_custom_1544619171513 {
    padding-top: 0px!important
}

.vc_custom_1544612316694 {
    margin-bottom: 15px!important
}

.vc_custom_1544607531622 {
    margin-bottom: 0px!important
}

.vc_custom_1544619171513 {
    padding-top: 0px!important
}

.vc_custom_1544612323038 {
    margin-bottom: 15px!important
}

.vc_custom_1544607522445 {
    margin-bottom: 0px!important
}

.vc_custom_1544619171513 {
    padding-top: 0px!important
}

.vc_custom_1544612330677 {
    margin-bottom: 15px!important
}

.vc_custom_1544543719059 {
    margin-bottom: 0px!important
}

.vc_custom_1544619171513 {
    padding-top: 0px!important
}

.vc_custom_1544612336966 {
    margin-bottom: 15px!important
}

.vc_custom_1544543750343 {
    margin-bottom: 0px!important
}